*{margin:0;padding:0;box-sizing: border-box;}

body{background-color: black;}
main{
  background-color: white;
  width:500px;
  height:600px;
  margin:0 auto;
  margin-top: 10px;
  padding: 15px;
  position: relative;
}
h1{line-height: 25px;}
.headDiv{
  width:100%;
  height:50px;
  background-color: #0c5839;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
.welcome{
  font-style: italic; 
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 20px;
}
h3{
  color: orangered;
  
}
p{
  line-height: 30px;
  margin-top: 20px;
  margin-left: 30px;
}
.bgImg{
  width: 300px;
  height:200px;
  background-image: url("../../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  right: 0px;;
}